{% extends 'base.html.twig' %}

{% block body %}
<h2>Mentions Légales</h2>
<ul>
	<li>In et elit quis augue congue condimentum.</li>
	<li>Praesent quis dui ut dolor vulputate egestas vel eget ante.</li>
	<li>Maecenas sit amet justo in urna malesuada condimentum in vel eros.</li>
	<li>Vivamus nec nisl sit amet ligula condimentum sodales.</li>
	<li>Pellentesque vel metus condimentum, porta mi et, pulvinar quam.</li>
</ul>
{% endblock %}
