{% extends 'base.html.twig' %}

{% block body %}
<h1>Mon sublime site Symfony</h1>
<p>Integer nec fringilla enim. Mauris mattis vel ex non lacinia. Donec tristique et erat id feugiat. Suspendisse potenti. Duis odio lorem, iaculis in tempor sit amet, laoreet dictum libero. Sed eget pulvinar eros, in gravida lacus. Sed mauris neque, dapibus ac facilisis vel, dignissim sit amet nunc. Vestibulum ut justo venenatis, consectetur sapien a, euismod eros. Proin tempor mauris ut nulla lacinia sodales. Etiam dignissim at lectus a porttitor. Aliquam nulla sapien, molestie gravida libero vel, molestie commodo arcu. Vivamus lectus quam, faucibus ac ligula et, iaculis rutrum ante.</p>
{% endblock %}